[submodule "gzstream"]
	path = gzstream
	url = https://gist.github.com/5e68302710ba737b50aa0b147a908025.git
[submodule "tclap"]
	path = tclap
	url = https://github.com/mirror/tclap.git
[submodule "kissfft"]
	path = kissfft
	url = https://github.com/surt91/kissfft.git
