[submodule "gzstream"]
	path = gzstream
	url = git@gist.github.com:b7e12efe8d50799a258e272d754e7203.git
[submodule "tclap"]
	path = tclap
	url = git@github.com:mirror/tclap.git
[submodule "kissfft"]
	path = kissfft
	url = git@github.com:surt91/kissfft.git
